.dashboard-cart {
  box-shadow: 0 2px 10px 0 rgba(150, 179, 218, 0.15);
  padding: 20px;
  height: 160px;
  min-height: 160px;
  position: relative;
  background-color: #fff;

  @media (max-width: 756px) {
    height: auto;
    padding-bottom: 60px;
  }

  &--icon {
    padding-left: 60px;
  }

  &__loading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    position: absolute;
  }

  &__title {
    font-size: 20px;
    color: #282f42;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: #487ffe;
      }
    }
  }

  &__text {
    margin-bottom: 10px;
    font-size: 12px;
    color: #6d838f;
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
  }

  &__counter {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    text-align: center;

    .counter-text {
      line-height: 100%;
      font-size: 42px;
      color: #6d838f;
      a {
        text-decoration: none;
        color: #6d838f;

        &:hover {
          color: #487ffe;
        }
      }
    }

    .counter-loading {
      box-shadow: none!important;
      left: 0;
      top: 0;
    }
  }


  &__icon {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;

    img {
      max-width: 100%;
    }
  }

  &__calls {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    line-height: 19px;
    font-size: 12px;
    color: #6d838f;
  }
}
