.dashboard {

  .row > div {
    margin-bottom: 20px;

    @include no-mobile {
      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
    }

    @include mobile {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--one-column {
    &__item {
      flex-basis: 100%;
    }
  }

  &--two-column {
    &__item {
      flex-basis: 50%;
    }
  }
}