.login {
  max-width: 380px;
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(150, 179, 218, 0.35);

  @media (max-width: 756px) {
    max-width: 100%;
  }

  &__logo {
    text-align: center;
    height: 70px;

    img {
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  &__inner {
    position: relative;
  }

  &__row {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    margin-top: 20px;
    padding: 0 20px;
  }
}