.header {
  margin-bottom: 30px;

  &__inner {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    background-color: #dce5ea;
    box-shadow: inset 0 -1px 3px 0 rgba(104, 127, 157, 0.15);
  }

  &__button {
    background-color: #6d838f;
    height: 100%;

    ._btn-menu {
      display: none;
      height: 100%;
    }
    ._btn-link {
      height: 100%;
    }

    @media (max-width: 980px) {
      ._btn-menu {
        display: block;
      }
      ._btn-link {
        display: none;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 10px;
    height: 100%;

    @media (max-width: 980px) {
      display: none;
    }

    li {
      margin-right: 10px;
      line-height: 50px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #617b89;
        text-decoration: none;
        position: relative;
        display: block;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 2px solid #617b89;
          opacity: 0;
        }

        &.active {
          &:before {
            opacity: 1;
          }
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }

  &__logout {
    margin-left: auto;
  }

  &__mobile {
    ._link {
      display: block;
      text-decoration: none;
      color: #617b89;
      margin: 0 -16px;
      padding: 0 16px;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #617b89;
        opacity: 0;
      }
      &.active {
        color: #FFF;
        background: #617b89;
      }
    }
  }
}