
.pagination {
  display: flex;
  list-style: none;
  padding: 10px 0;
  margin: 0 -5px;

  li {
    margin: 0 5px;
    border: 1px solid #ececec;
    cursor: pointer;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    align-items: center;

    &.active {
      background: rgb(0, 188, 212);
      color: #ffffff;
    }

    a, span {
      display: block;
      flex: 1;
      padding: 5px;
      height: 100%;
    }
    button {
      display: block;
      width: 100%;
      height: 100%;
    }

    &.previous,
    &.next {
      a {
        padding: 0;
      }
    }

    &.disabled {
      background: #ececec;
      pointer-events: none;
      a, button {
        background: #ececec;
      }
    }
  }
}