@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  outline: none !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  min-width: 320px;
  font-family: 'Roboto', 'Arial', 'Helvetica', 'Tahoma', sans-serif;
  font-weight: normal;
  font-size: 14px;

  &.popup-opened {
    overflow: hidden;
    overflow-scrolling: touch;

    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

ul {
  margin-bottom: 0;
}


input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: 'Roboto', 'Arial', 'Helvetica', 'Tahoma', sans-serif;
  font-weight: normal;
  font-size: 14px;

  &::-ms-clear {
    display: none !important;
  }

  &::-ms-reveal {
    display: none !important;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset;
  }
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Roboto', 'Arial', 'Helvetica', 'Tahoma', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

main {
  display: block;
}

.hidden-md {
  @include desktop {
    display: none !important;
  }
}

.hidden-sm {
  @include tablet {
    display: none !important;
  }
}

.hidden-xs {
  @include mobile {
    display: none !important;
  }
}

.preloader {
  box-shadow: none !important;
  transform: translate(10000px, 10000px) !important;
}

.form-group:last-child {
  margin-bottom: 0;
}

.navbar {
  .navbar-toggler {
    border: 0;
    padding: 0;
  }

  .navbar-brand {
    @media (max-width: 767px) {
      display: none;
    }
  }

  .btn-logout {
    @media (max-width: 767px) {
      position: absolute;
      top: 15px;
      right: 1rem;
      z-index: 1;
    }

    &:before {
      content: '';
      background: url('../images/icon-out.svg') no-repeat center;
      width: 21px;
      height: 18px;
      display: block;
    }
  }

  .loader-small {
    width: 15px;
    height: 15px;
    border-width: 2px;
    margin-top: -2px;
    vertical-align: middle;
  }
}

.breadcrumb {
  border-radius: 0;
}

.no-padding {
  padding: 0 !important;
}